<div class="m-4">
    <div class="heading">
        <h3 class="text-dark">Dashboard</h3>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card mt-3" style="border-top: 3px solid #17a2b8;">
                <div class="card-header text-dark">
                    <h4 class="d-inline">Current Pipeline</h4>
                    <p class="d-inline float-right text-dark" style="margin-bottom: 0;">Active jobs: 120</p>
                </div>
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title text-center"><span class="badge badge-pill badge-warning" style="color: white;">L</span>      
                        </h5>
                        <h5 class="card-text text-center">8</h5>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title text-center"><span class="badge badge-pill badge-primary" style="background-color: orange;">P</span>      
                        </h5>
                        <h5 class="card-text text-center">32</h5>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title text-center"><span class="badge badge-pill badge-success">A</span>      
                        </h5>
                        <h5 class="card-text text-center">23</h5>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title text-center"><span class="badge badge-pill badge-info">C</span>      
                        </h5>
                        <h5 class="card-text text-center">9</h5>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title text-center"><span class="badge badge-pill badge-danger">I</span>      
                        </h5>
                        <h5 class="card-text text-center">48</h5>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3" style="border-top: 3px solid #17a2b8;">
                <div class="card-header text-dark">
                    <h4 class="d-inline">Action Items</h4>
                </div>
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                        <p class="card-title text-center d-inline"><span class="badge badge-pill badge-secondary d-inline" style="color: white;">0</span> To-Do #1s</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <p class="card-title text-center d-inline"><span class="badge badge-pill badge-success d-inline" style="color: white;">1</span> To-Do #2s</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <p class="card-title text-center d-inline"><span class="badge badge-pill badge-success d-inline" style="color: white;">14</span> To-Do #3s</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <p class="card-title text-center d-inline"><span class="badge badge-pill badge-secondary d-inline" style="color: white;">0</span> To-Do #4s</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mt-3" style="border-top: 3px solid #17a2b8;">
                <div class="card-header">
                    <h4 class="d-inline text-dark">Activity Feed</h4>
                </div>
                <div class="card-body">
                    <small><strong>New Lead:</strong> Employee Name </small><br>
                    <a href="#"><small class="text-info">File/Lead Name</small></a>
                    <hr>
                    <small><strong>Comment by:</strong> Employee Name </small><br>
                    <a href="#"><small class="text-info">File/Lead Name</small></a>
                    <hr>
                    <small><strong>Job Completed:</strong> Employee Name </small><br>
                    <a href="#"><small class="text-info">File/Lead Name</small></a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>