<div class="card mt-2">
  <article class="">
    <div class="m-2">
      <p><strong><%= to_name(comment.user_id) %>: </strong><%= comment.body %></p>
      <div>
        <%= link_to 'Delete', [comment.lead, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </article>
</div>
