/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 */

#nav_top {
	height: 45px;
	margin-top: -8px;
}

.nav-text {
	margin-bottom: 8px;
	margin-top: 8px;
}

.navbar-brand {
	margin-bottom: 18px;
}

.user-actions a {
	margin-top: -20px;
	color: #17a2b8 !important;
}

.nav-icon {
	color: white;
}

.nav-link {
	border-right: 1px solid white;
}

#navbarNav {
	// height: 60px;
}

.bg-orange {
	background-color: orange;
}

.nav-action:active {
	color: orange;
}
